/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-12-28, 5:02:57
    Author     : Administrator
*/


/*Header*/
.home_unload_header{
    background: #666666;
    width: 100%;
    height: 60px;
     position: fixed;
     top:0;
    left:0;
    right:0;
     z-index:2147483647;
}
.team_name{
    font-family: "Starry Night";
     font-size: 40px;
     border-radius: 10px;
     font-weight: bold;
     margin-left: 30px;
     text-align: left;
     text-decoration: none;
     color: #ffffff;
    padding-top: 10px;
}
.search_img{
    top:15px;
    position: relative;
    width: 40px;
    height: 40px;
}
.search_product{
     margin-left: 100px;
     border-radius:20px;
     height: 35px;
     width: 40%;
     outline-style:  none;
}


.account_icon{
    top:5px;
    left: 70px;
    position: relative;
    height:21px;
    width:21px;
}
.account_link{
     top:-40px;
     left: -60px;
    text-decoration: none;
    font-family: "segoeuil";
    font-size: 15px;
    color: white;
    position: relative;
    margin-left: 995px;
    height: 10px;
}
.order_icon{
      top:-34px;
      left: -25px;
     position: relative;
     height:25px;
    width:25px;
}
.order_link{
    top:-40px;
    left: -10px;
     text-decoration: none;
    font-family: "segoeuil";
    font-size: 15px;
    color: white;
    position: relative;
}

.help_icon{
    top:-34px;
      left: 30px;
     position: relative;
     height:22px;
    width:22px;
}
.help_link{
       top:-40px;
    left: 45px;
     text-decoration: none;
    font-family: "segoeuil";
    font-size: 15px;
    color: white;
    position: relative;
}


/*body*/
ul{
    padding: 0;
    text-align: center;
    line-height: 40px;
    margin-left: 200px;
    color: #999999;
    text-decoration: none;
    list-style-type: none;
}
.seller_bar_link{
    text-decoration: none;
     text-align: center;
}
.seller_bar{
    font-size: 19px;
    color:#666666;
    text-decoration: none;
    font-family: "Generica"
}
.seller_bar:hover{
    color:black;
    text-decoration: none;
}

.seller_container{
    width: 100%;
    position: relative;
    top: 200px;
    left: 0px;
    
}
    .seller_col1{
    width: 30%;
    text-align: center;
    position: relative;
    top:-300px;
}

.seller_col2{
    width: 5%;
    position: relative;
    top:50px;
}
.seller_col3{
    width: 65%;
}
.star_rating
{
    font-family: "Anders";
    font-size: 35px;
    margin-top: -570px;
    margin-left: 190px;
}
    

/*Feedback de */
.buyer_feed{
    margin-top: 70px;
    margin-left: 80px;
    width: 520px;
    position: relative;
    background-color: #666666;;
    color: white;
    border-style: none;
    line-height: 50px;
    outline-style: none;
    border-radius: 20px;
}
.fee_id, .fee_fee{
    font-family: "Generica";
    font-size: 25px
}
/*Post Product */
.post_h1{
    font-family: Open Sans; 
    margin-top: 90px;
}

.pro_name{
    font-family: "Uni Sans CAPS";
    font-size: 24px;
    position: relative;
    left: 0px
}


.pro_name_input{
    top: 100px;
    margin-left: 0px;
    font-family: "Uni Sans CAPS";
    border-radius: 10px;
    outline-style:  none;
    height: 30px;
    font-size: 19px;
     width: 300px;  
}
.pro_name_input:hover,.type_value:hover,.min_price:hover,.max_price:hover,.use_time:hover,.contact_input:hover,.detail_input:hover{
    border-color: black
}
.pro_name_valid{
    
}
.po
{
    font-family: "Anders";
    font-size: 35px;
    margin-top: -170px;
    margin-left: 190px;
}
.pro_name_msg,.max_Price, .min_Price, .usetime, .contact_num, .pro_detail{
    color: red;
    font-family: "Open Sans";
    font-size: 18px;
}
.type_value,.min_price,.max_price,.use_time,.contact_input{
     font-family: "Uni Sans CAPS";
    border-radius: 10px;
    outline-style:  none;
    height: 30px;
    font-size: 19px;
        width: 300px; 
}
.detail_input{
     font-family: "Uni Sans CAPS";
    border-radius: 10px;
    outline-style:  none;
    height: 30px;
    font-size: 19px;
        width: 300px; 
        resize:  vertical;
        columns: 7;
        max-height: 270px;
        min-height: 35px;
        word-wrap: break-word;
        word-break:  keep-all
}
.post_but{
     background-color: white;
    text-align: center;
    font-family: "Uni Sans CAPS";
    text-decoration: none;
    outline-style:none;
    border-color: #000000;
    border-style: solid;
    font-size: 23px;
    color: black;
    width: 200px;
    height: 40px;
    position: relative;
    top:0px;
    -webkit-border-radius: 20px;
}
.post_but:hover{
      background-color: black;
    border-color:  white;
    border-style: solid;
    outline-style:none;
    color: white
}

.logout{
    color: #999999;
    
}
.logout:hover{
    color: black;
    
}
.sell_acc{
    font-family: "Segoe UI";
    color: black;
    font-size: 45px;
}
.upphoto{
    position: relative;
    top:-700px;
    left: 70px;
}
.pro_panel{
    position: relative;
    top: 90px;
    left: 70px;
     font-family: "Uni Sans CAPS";
     font-size: 24px;
     line-height: 90px;
         
         
}

.select_text{
    font-family: "Uni Sans CAPS"
}
.select_but{
    font-family: "Uni Sans CAPS";
    background: white;
    outline: none;
    border-color: black;
    font-weight: bold;
    
}
.select_but:hover{
    font-family: "Uni Sans CAPS";
    background: black;
    outline: none;
    border-color: white;
    font-weight: bold;
    color: white
}
.in_but{
    font-family: "Uni Sans CAPS";
    background: white;
    outline-color: black;
    outline-style: double;
    
}
.show_postlist{
    position: relative;
    top: 30px;
    left: 150px;
}
.h{
    color:#666666;
    font-size: 20px;
    font-weight: bold
}
.s{
    color: black;
    font-size: 15px;
}
.co{
    position: relative;
    top:30px;
    left: 250px;
    outline-color: black;
    line-height: 50px;
}
.con_in{
    line-height: 40px;
    height: 30px;
    -webkit-border-radius: 10px;
    outline-style: none;
}
.con_in:hover{
    border-color: black;
}
 /*Footer*/
.home_unload_footer{
    position: relative;
    margin-bottom:0px; 
    width: 100%;
    height: 250px;
}
.footer1{
    text-align: center;
    color: black;
    font-family:"张海山锐线体简"; 
    position: relative;
    width: 25%;
    bottom: -50px;
}
.footer2{
    text-align: center;
    color: black;
    font-family:"张海山锐线体简"; 
    position: relative;
    width: 30%;
    bottom:95px;
   left:440px;
}
.footer_email{
    margin-left: 100px;
     border-radius:20px;
     height: 30px;
     width: 200px;
     outline-style:  none;
      position: relative;
      left: -50px;
      outline-style: none;
      font-family: "张海山锐线体简";
      font-size: 20px;
      color: black;
      bottom: 15px;
      
}
.footer_email:hover{
    border-color: black;
    border-style:  solid;
}
.footer_email_icon{
    position: relative;
    top: 0px;
     left: -40px;
     width: 46px;
     height: 46px;
}
.footer3{
    text-align: center;
    color: black;
    font-family:"张海山锐线体简"; 
    position: relative;
    width: 25%;
    bottom: 275px;
    left: 945px;
}
.footer_contact_button{
        position:relative;
    background-color: white;
    color:black;;
    height:30px;
    width:70px;
    border-color: black;
    border-style:solid;
    border-radius:6px;
    outline-style: none;
    -webkit-border-radius: 20px;
    text-decoration: none;
    font-family: "segoeuil";
    font-size: 15px;
    bottom: 10px;
}

.footer_contact_button:hover{
    color: white;
    background-color: black;
    border-color: white;
    border-style:  solid;
    -webkit-border-radius: 20px;
    text-decoration: none;
    outline-style: none;
    font-family: "segoeuil";
    font-size: 15px;
}


.home_unload_footer{
    font-family: "segoeuil";
    text-align: center;
    
}
.footer_title{
    color:  black;
    font-family: "OctemberScript";
    font-size: 35px;
}
.copyright{
    color:  black;
    font-family:"Gabriola";
    font-size: 15px;
}
.fo1{
    position: relative;
    width: 20%;
    font-family: "Verdana";
    color:  #666666;
    font-size: 20px;
    left: 10px;
    text-align: left;
    text-decoration: none
    
}
.fo1:hover{
    color: black;
}
.foot{
   width: 100%;
    height:650px;   /* footer的高度一定要是固定值*/ 
    position:absolute;
    margin-bottom:0px;
    left:0px;
    background: white;
}